.all-dt-product-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 20px;
}

.all-dt-product-image img {
    max-width: 400px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.all-dt-product-info {
    max-width: 400px;
}

.all-dt-product-name {
    width: 400px;
    font-size: 65px;
    /* background-color: red; */
    text-align: left;
    margin-bottom: 10px;
}

.all-dt-product-description {
    font-size: 25px;
    padding-left: 32px;
    margin-top: -10px;
    margin-bottom: 15px;
}

.all-dt-product-price {
    font-size: 56px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 15px;
}

.all-dt-product-dtls-btns{
    width: 423px;
    /* background-color: yellow; */
    padding-left: 35px;
    display: flex;
    gap: 20px;
}   

.all-dt-add-to-cart {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.all-dt-add-to-cart:hover {
    background-color: #0056b3;
}

.all-dt-proceed-to-chk{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00502b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.all-dt-proceed-to-chk:hover{
    background-color: #032917;
}